# Ignore Visual Studio Code settings
.vscode/

# Ignore Python virtual environment
venv/
env/
.venv/

# Ignore Django installation files
*.sqlite3
*.pyc
__pycache__/

# Ignore any other files generated during development
*.log
